@font-face {
  font-family: 'Paperlogy';
  src: url(../../public/font/Paperlogy-5Medium.ttf) format('truetype');
}

.mainpage-container {
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin: 120px 170px;
  font-family: 'Paperlogy', sans-serif;
}